.results {
    height: auto;
<<<<<<< HEAD
    padding-top: 2%;
=======
    padding-top: 0%;
>>>>>>> origin/Tutor
}
.loading > i {
    color: #bf5a16;
}
.loading {
    display: none;
    text-align: center;
    margin-top: 20%;
}
.tituloxxx {
    text-align: center;
<<<<<<< HEAD
=======
    padding-bottom: 1%;
>>>>>>> origin/Tutor
    padding-top: 1%;
}
.loadLessons{
    margin: 1%;
<<<<<<< HEAD
=======
}
.botoncrear {
    margin: 1%;
    text-align: left;
>>>>>>> origin/Tutor
}