@font-face {
    font-family: "BebasNeueBold";
    src: url("../fonts/BEBAS.ttf");
}
.objects {
    background-color: #22313F;
    height: 800px;
}

.arena {
    background-color: #22313F;
    height: 800px;
}

.titulo {
    font-family: "BebasNeueBold";
    font-size: 2em;
    color: #ECECEC;
    margin: 2%;
}

.htmlMain {
    cursor: pointer;
    height: auto;
    text-align: center;
    margin: 3%;
}
.htmlMain > p{
    font-family: "BebasNeueBold";
    font-size: 1.5em;
    color: #6C7A89;
}


.HTMLgenerator {
    padding: 0;
    margin-top:;
}

.yellow {
    background-color:#F7CA18;
}
.green {
    background-color:#D64541;
}
.playground {
    height: 85%;
    border: solid 0.3em #5a6776;
     background-color: #22313F;
    overflow: scroll;
}
.htmlParts {
    cursor: pointer;
    height: auto;
    text-align: center;
    margin: 3%;
}
.htmlParts > p{
     font-family: "BebasNeueBold";
    font-size: 1.2em;
    color: #2d2e2f;
}
.htmlPartsAtriSty {
    cursor: pointer;
    height: auto;
    text-align: center;
    margin: 3%;
}
.htmlPartsAtriSty > p{
     font-family: "BebasNeueBold";
    font-size: 1.2em;
    color: #2d2e2f;
}
.withauto {
    width: auto;
}

.result {
    background-color: #fff;
    height: 600px;
    color: black;
    font-family: sans-serif;
}
.result > p{
    color: #414141;
}
.arriba { 
    border-width: 2px;
    border-style: dotted;
    border-color: #A36491;
    
}
.arriba2 { 
    border-width: 2px;
    border-style: solid;
    border-color: #A36491;
    
}
.orange {
    background-color: #EB9532;
}

.royal {
    background-color: #87D37C;
}

.valueDescription {
    width: 100%;
}
.loading {
    display: none;
}
.loading > div > i {
    color:#F7CA18;
    font-size: 1.5em;
    
}
.loading > div > p {
    color:#F7CA18;
    font-size: 1.5em;
}
.pista {
    text-decoration: none;
    cursor: pointer;
    color: whitesmoke;
}
.panel-body > .htmlParts {
    margin: 0 !important;
}
#changeSize > .col-xs-3 {
    width: 15%;
}
.greenini {
    background-color: #5cb85c !important;
}
.redini {
    background-color: #D9534F !important;
}
.tools {
    background-color: transparent;
    margin-bottom: 1%;
    color: #485563;
}
.animated { 
    -webkit-animation-duration: 0.5s; 
    animation-duration: 0.5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in-out; 
    animation-timing-function: ease-in-out; 
} 

@-webkit-keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 

.fadeInDown { 
    -webkit-animation-name: fadeInDown; 
    animation-name: fadeInDown; 
}