@font-face {
    font-family: "BebasNeueBold";
    src: url("../fonts/BEBAS.ttf");
}
.objects {
    min-height: 800px;
    text-align: center;
}

.arena {
    min-height: 800px;
    
}
.withauto {
    width: auto;
}
.yourSite {
    color: black;
    font-family:serif;
}
.titulo {
    font-family: "BebasNeueBold";
    font-size: 1.5em;
    color: #ECECEC;
    margin: 2%;
}
.padcero {
    padding:0;
}
.htmlMain {
    cursor: pointer;
    height: auto;
    text-align: center;
    margin: 3%;
    overflow: hidden;
    z-index: 10;
}
.htmlMain > p{
    font-family: "BebasNeueBold";
    font-size: 1.3em;
    color: #6C7A89;
}

.noexiste {
    display: none;
}
.HTMLgenerator {
    padding: 0;
    margin-top:;
}
.input-group > .input-group-addon {
    background-color: #df691a;
}
.yellow {
    background-color:#F7CA18;
}
.green {
    background-color:#D64541;
}
.divide {
    margin-left: 20%;
}
.playground {
    height: 68vh;
/*    border: 2px solid #df691a;*/
    overflow-y: scroll;
}
.htmlParts {
    cursor: pointer;
    height: auto;
    text-align: center;
    margin: 3%;
}
.htmlParts > p{
     font-family: "BebasNeueBold";
    font-size: 1.2em;
    color: #2d2e2f;
}
.htmlPartsAtriSty {
    cursor: pointer;
    height: auto;
    text-align: center;
    margin: 3%;
}
.htmlPartsAtriSty > p{
     font-family: "BebasNeueBold";
    font-size: 1.2em;
    color: #2d2e2f;
}


.result {
    background-color: #fff;
    height: 600px;
    color: black;
    font-family: sans-serif;
}
.result > p{
    color: #414141;
}
.arriba { 
    border-width: 2px;
    border-style: dotted;
    border-color: #A36491;
    
}
.arriba2 { 
    border-width: 2px;
    border-style: solid;
    border-color: #A36491;
    
}
.orange {
    background-color: #EB9532;
}

.royal {
    background-color: #87D37C;
}

.valueDescription {
    width: 100%;
}
.loading {
    display: none;
}
.loading > div > i {
    color:#F7CA18;
    font-size: 1.5em;
    
}
.loading > div > p {
    color:#F7CA18;
    font-size: 1.5em;
}
.pista {
    text-decoration: none;
    cursor: pointer;
    color: whitesmoke;
}
.panel-body > .htmlParts {
    margin: 0 !important;
}
#changeSize > .col-xs-3 {
    width: 15%;
}
.greenini {
    background-color: #5cb85c !important;
}
.redini {
    background-color: #D9534F !important;
}
.tools {
    background-color: transparent;
    margin-bottom: 1%;
    color: #485563;
}
.trshIt {
    z-index: 10;
    margin: 0;
}
.backCute {
    background-color: #1D9DDE;
}
.muybien {
    font-size: 6em;
}
.muybien2 {
    font-size: 3.5em;
}
.muybien3 {
    font-size: 4em;
}
.centertest {
    text-align: center;
}
.animated { 
    -webkit-animation-duration: 0.5s; 
    animation-duration: 0.5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in-out; 
    animation-timing-function: ease-in-out; 
} 
.animatedDos { 
    -webkit-animation-duration: 1.2s; 
    animation-duration: 1.2s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in-out; 
    animation-timing-function: ease-in-out; 
} 
@-webkit-keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 


.fadeInDown { 
    -webkit-animation-name: fadeInDown; 
    animation-name: fadeInDown; 
}
@-webkit-keyframes winner { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateX(800px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateX(0); 
    } 
} 

@keyframes winner { 
    0% { 
        opacity: 0; 
        transform: translateX(800px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateX(0); 
    } 
} 


.fadeInDownDos { 
    -webkit-animation-name: winner; 
    animation-name: winner; 
}
.showResult {
    width: 6vw;
    border-radius: 50%;
    
    
}

.winner {
    width: 100%;
}
.contentWin {
    height: 60vh;
    overflow: hidden;
}
/*MEDIA QUERY*/
@media (min-width: 1199px) and (max-width: 1770px) {
    .col-lg-2{
        width: 25%;
    }
    .col-lg-10{
        width: 75%;
    }
    .divide {
        margin-left: 35%;
    }
    .htmlParts > p{
        font-size: 1.1em;   
    }
    .htmlPartsAtriSty > p{
        font-size: 1.1em;   
    }
    .htmlMain > p{
        font-size: 1.2em;   
    }
    
}
/*framebeta*/
@-webkit-keyframes bounceIn { 
    0% { 
        opacity: 0; 
        -webkit-transform: scale(.3); 
    } 

    50% { 
        opacity: 1; 
        -webkit-transform: scale(1.05); 
    } 

    70% { 
        -webkit-transform: scale(.9); 
    } 

    100% { 
         -webkit-transform: scale(1); 
    } 
} 

@keyframes bounceIn { 
    0% { 
        opacity: 0; 
        transform: scale(.3); 
    } 

    50% { 
        opacity: 1; 
        transform: scale(1.05); 
    } 

    70% { 
        transform: scale(.9); 
    } 

    100% { 
        transform: scale(1); 
    } 
} 

.bounceIn { 
    -webkit-animation-name: bounceIn; 
    animation-name: bounceIn; 
}
.outoff {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  box-shadow: inset 0 0 0 4px transparent, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}
.inoff {
  box-shadow: inset 0 0 0 0.25vh #2098d1, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}